@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");

:root {
  --newswire-primary-bg: #39668c;
  --newswire-text-color: #ffffff;
  --newswire-highlight: #f5d429;
  --newswire-linear: linear-gradient(transparent, rgba(16, 18, 18, 0.7) 65%);
  --newswire-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.85);
}

.wrapper {
  max-width: 1390px;
  padding: 0 1.5rem;
  margin: auto;
}

.nxewswire-alt {
  display: none !important;
}

.newswire {
  color: var(--newswire-text-color);
}

.newswire h1,
.newswire h2,
.newswire h3,
.newswire h4,
.newswire .world-clocks > div > div:nth-child(1),
.newswire #ticker-title,
.newswire .timestamp,
.newswire .other-news-grid,
.strikethrough-headline > div,
.strikethrough-headline-rhs > div,
.newswire-text-cards-grid > div,
.newswire-search-results h3 {
  font-family: "Baskerville";
}

.newswire-search-results h3 {
  font-size: 24px;
  margin: 0;
  padding-bottom: 12px;
}

.newswire-search-results > div {
  padding-bottom: 1em;
  border-bottom: 1px var(--newswire-text-color) solid;
}

.newswire h1 {
  font-size: 30px!important;
  color: white;
  text-transform: uppercase;
  font-family: PT Serif;
  text-shadow: 1px 1px 3px black;
}

.newswire h4 {
  margin: 0;
}

.newswire img {
  width: 100%;
  height: auto;
  transition: 1s;
}

.newswire img:hover {
  filter: brightness(0.7);
  transform: scale(1.2);
  transition: filter 1s;
  transition: transform 20s;
}

.newswire-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newswire-search-form {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.newswire-search-form input[type="text"],
.newswire-search-form button {
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.newswire-search-form button {
  max-width: 3em;
}

.newswire .world-clocks {
  display: grid;
  grid-gap: 1em;
}

.newswire .world-clocks > div {
  padding: 0.6em;
  background-color: #3a818a;
  color: #fff;
}

.newswire .world-clocks > div > div:nth-child(1) {
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: right;
}

.newswire .world-clocks > div > div:nth-child(2) {
  font-size: 0.7em;
  margin-top: 12px;
}

#marquee-cont {
  background: #f4f4f4;
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  font-size: 12px;
}

#marquee {
  border: 1px #eee solid;
  display: flex;
  margin:0 5px;
  color:black;
  align-items: center;
}

#marquee-news {
  background: #1174a8;
  padding: 5px;
}

#ticker-title {
  border: none;
  padding: 5px 20px;
  background: var(--newswire-primary-bg);
  color: white;
  cursor: pointer;
}

.ticker-img {
  color: var(--newswire-primary-bg);
}

.news-upper {
  display: grid;
  grid-gap: 1em;
}

.news-upper h2 {
  padding: 0;
  margin: 0;
  color: #fff;
}

.news-upper h3, .top-story {
  text-align: left;
}

.top-story {
  padding-bottom: 0.6em !important;
}

.top-story a,
.recent-posts a {
  color: #fff;
  text-decoration: none;
}

.top-story a:hover,
.recent-posts a:hover {
  text-decoration: underline;
}

.news-upper > div:nth-child(1) {
  position: relative;
}

.news-upper > div:nth-child(1) .timestamp {
  color: #fff;
}

.news-upper > div:nth-child(1) > div:nth-child(1) {
  height: 100%;
  overflow: hidden;
  & img {
    height: 100%;
    object-fit: cover;
  }
}

.news-upper > div:nth-child(1) > div:nth-child(2) {
  padding: 0 12px;
  margin: 0;
  color: #fff;
  position: absolute;
  bottom: 0;
  background-image: var(--newswire-linear);
}

.news-upper > div:nth-child(2) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.news-upper > div:nth-child(3) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.news-upper img,
.recent-posts img,
.newswire-alt {
    cursor: pointer;
}

.thumbhead {
  background: var(--newswire-primary-bg);
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.thumbhead .timestamp,
.recent-posts .timestamp {
  font-size: 0.6rem!important;
  padding-bottom: 0!important;
}

.newswire .thumbhead > div:nth-child(1) {
  height: 100%;
  & img {
    height: 100%;
    object-fit: cover;
  }
}

.newswire .thumbhead > div:nth-child(2) {
  position: absolute;
  padding: 0.5rem;
  bottom: 0;
  background-image: var(--newswire-linear);
  width: 100%;
  box-sizing: border-box;
  h3 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
  }
}

.newswire .thumbhead > div:nth-child(2) h3 a,
.other-news-grid a,
.newswire-text-cards-grid a,
.newswire-alt a,
.newswire-search-results h3 a {
  color: var(--newswire-text-color);
  text-decoration: none;
}

.other-news-grid a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.thumbhead a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.newswire .thumbhead > div:nth-child(2) h3 a:hover,
.other-news-grid a:hover,
.newswire-text-cards-grid a:hover,
.newswire-alt a:hover,
.newswire-search-results h3:hover {
  text-decoration: underline;
}

.other-news {
  color: var(--newswire-text-color);
  margin: 3px 0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
}

.other-news-grid {
  padding-right: 1em;
}

.other-news-grid > div {
  border-bottom: 1px #999 solid;
  padding-bottom: 7px;
}

.other-news-grid > div > div:nth-child(2),
.timestamp {
  color: #999;
}

.other-news-grid > div > div:nth-child(2) {
  color: var(--newswire-text-color);
  opacity: 0.9;
}

.newswire-highlight {
  color: var(--newswire-highlight);
}

.newswire .timestamp {
  margin-top: 12px;
  color: var(--newswire-text-color);
  font-size: 0.9em;
  text-transform: uppercase;
  padding-bottom: 4px;
}

.published-by {
  font-size: 12px;
  margin-bottom: 12px;
}

.recent-posts {
  display: grid;
  grid-gap: 1rem;
}

.recent-posts > div {
  position: relative;
  color: #fff;
  height: max-content;
  overflow: hidden;
}

.recent-posts > div > div:nth-child(1) {
height: 100%;
& img {
  height: 100%;
  object-fit: cover;
}
}
.recent-posts > div > div:nth-child(2) {
  padding: 0.5rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: auto;
  background-image: var(--newswire-linear);
}

.strikethrough-headline {
  margin-top: 1em;
  border-top: 1px var(--newswire-text-color) solid;
  top: 16px;
  position: relative;
}

.strikethrough-headline > div {
  font-size: 24px;
  padding: 7px;
  background-color: var(--newswire-primary-bg);
  top: -24px;
  position: relative;
  display: inline-block;
}

.strikethrough-headline-rhs {
  margin-top: 1em;
  border-top: 1px var(--newswire-text-color) solid;
  top: 16px;
  position: relative;
  text-align: right;
}

.strikethrough-headline-rhs > div {
  font-size: 17px;
  padding: 7px;
  background-color: #fff;
  top: -18px;
  position: relative;
  display: inline-block;
}

.newswire-text-cards-grid {
  display: grid;
  grid-gap: 1em;
}

.newswire-text-cards-grid > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.newswire-text-cards-grid > div > div:nth-child(1) {
  font-size: 21px;
  padding-right: 12px;
  color: var(--newswire-highlight);
}

.newswire-alt {
  display: grid;
  grid-gap: 1em;
}

.newswire-g-style {
  display: grid;
  grid-gap: 1em;
}

.newswire-g-style h4 {
  margin-top: 0;
  padding-top: 0;
}














@media (min-width: 1px) {

  .newswire .world-clocks {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }

  .newswire-header {
    flex-direction: column;
    align-items: stretch;
  }

  .newswire-header h1 {
    margin-bottom: 0;
    margin-inline: auto;
  }

  .newswire-header > div:nth-child(2) {
    padding-bottom: 1em;
  }

  .recent-posts {
    grid-template-columns: 1fr;
  }

  .news-upper {
    grid-template-columns: 1fr;
  }

  .newswire-text-cards-grid {
    grid-template-columns: 1fr 1fr;
  }

  .newswire-alt {
    grid-template-columns: 1fr;
  }

  .newswire-g-style {
    grid-template-columns: 1fr 1fr;
  }

  .newswire-g-style > div:nth-child(odd) h4 {
    font-family: inherit;
    font-size: 15px;
  }

}

@media (min-width: 500px) {

  .recent-posts {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-upper {
    grid-template-columns: 1fr 1fr;
  }

  .news-upper > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / span 2;
  }

  .newswire-text-cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .newswire-text-cards-grid > div:nth-child(10) {
    display: none;
  }

  .newswire-g-style {
    grid-template-columns: 2fr 1fr;
  }

  .newswire-g-style > div:nth-child(odd) h4 {
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
  }

}


@media (min-width: 900px) {

  .newswire .world-clocks {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(6, 1fr);
  }

  .newswire-header {
    flex-direction: row;
  }

  .newswire-header > div:nth-child(2) {
    align-self: flex-start;
  }

  .news-upper {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .news-upper > div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: initial;
  }

  .newswire-text-cards-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(5, 1fr);
  }

  .newswire-text-cards-grid > div:nth-child(10) {
    display: flex;
  }

  .newswire-alt {
    grid-template-columns: 2fr 3fr;
  }

  .recent-posts {
    grid-template-columns: repeat(4, 1fr);
  }

}