main {
    min-height: calc(100vh - 65px);
    scroll-snap-type: y mandatory;
    & li {
        font-family: PT Serif;
        color: var(--clr-light);
        font-weight: 600;
        font-size: 14px;
        text-shadow: 1px 1px 2px #00000075;
    }
}
h1, h2, h3, p, a {
    color: var(--clr-light);
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight:900;
    text-shadow: 0 0.2rem 0.5rem #00000075;
}
h1, h2, h3 {
    text-transform: uppercase;
}
p {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem;
}
.hero :not(video){
    z-index: 1;
}
.validation-error-report {
    display:none;
}
.hero {
    display: grid;
    justify-content:center;
    align-content: space-between;
    position: relative;
    margin: auto auto;
    padding: 1.5rem 5vw;
    min-height: calc(100vh - 100px);
    scroll-snap-align: start;
    overflow: hidden;
    & h1 {
        font-size: clamp(5rem, 10vw, 15rem);
        line-height: max(3.5rem, 7vw);
    }
    & h1:first-child {
        font-size: clamp(3.5rem, 7vw, 10rem);
    }
    & h2 {
        position: relative;
        margin: 0 auto;
        font-size: clamp(4rem, 10vw, 6rem);
        margin-bottom: 2rem;
        z-index: 1;
    }
    & h3 {
        font-size: max(2rem, 2.5vw);
        line-height: 7vw;
    }
    & h4 {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1rem;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 900;
    }
    & video {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
    }
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    z-index: 1
}
.metai {
    font-size: clamp(5rem, 15vw, 20rem)!important;
    line-height: 10vw;
}
.hero-3 {
    display: block;
    & div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5rem;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none; 
    }
    & div::-webkit-scrollbar {
        display: none;
    }
    & section {
        min-width: 250px;
    }
    & img {
        border-radius: 2rem;
        transition: all 1s;
        box-shadow: 0px 0px 4px black;  
    }
    & article {
        max-width:360px;
    }
    & img:hover {
        filter: grayscale(50%);
        transform: scale(1.05);
    }
    & h4 {
        text-align: center;
        color: white;
        text-transform:uppercase;
        margin-top:0;
        font-size: max(1rem, 1vw);
    }
    & p {
        font-size: max(1.2rem, 1.3vw);
    }
    & button {
        grid-column: 3;
    }
}
.hero-4 {
    justify-content:center;
    align-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    & h3, p {
        text-align:left;
    }
    & div {
        z-index:1;
    }
}
.hero-6{
    display: block;
    background: black;
    & div {
        min-width: 300px;
        margin: auto;
    }
}
.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
    width: 90vw;
    max-width: 1300px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

}
.team::-webkit-scrollbar {
    display: none;
}
.team-card {
    display:grid;
    position: relative;
    place-self: center;
}
.team-article {
    position: absolute;
    text-align:center;
    bottom: 0;
    color:white;
    padding: 1rem 0;
    width: 100%;
    margin: 0;
    background: rgba(255, 255, 255, 0.41);
    & p {
        margin: 0 0 1rem;
    }
}
button {
    margin: auto;
    display: block;
}
.btn-reg {
    max-width:80%;
    font-weight: 900;
    font-size: max(1.5rem, 1.2vw);
    font-family: PT Serif Caption;
    box-shadow: 1px 1px 5px #00000075;
    margin:0 auto;
    transition: all 1s;
}
.btn-alt {
    background-color: transparent;
    border: 1px solid var(--clr-light);
    color: var(--clr-light);
}
.photos {
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
}
form {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 1rem;
    & label {
        margin: auto;
        padding: 0.6em;
    }
}
#veiklos {
    grid-column: 1 / span 5;
}
.validation-error-alert {
    display: none;
}
.hidden {
opacity: 0;
filter: blur(5px);
transform: translateX(-100%) ;
transition: all 1s;
}
.scroll {
opacity: 1;
filter: blur(0px);
transform: translateX(0) ;
}

/* Extra small devices (portrait phones, less than 576px) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero video {
        display: block;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section {
        align-content: center;
        display: grid;
        gap: 2rem;
        align-items: center;
        z-index: 1
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}