/* Variables */
:root {
    --box-shadow: 0 0 10px rgb(19, 150, 168);
    --box-bg: rgba(255, 255, 255, 0.05);
    --primary-txt-clr: rgb(80, 134, 161);
    --secondary-txt-clr: rgb(255, 255, 255);
    --black-txt-clr: rgb(0, 0, 0);
    --bg-color-1: rgb(29, 26, 73);
    --primary-hover: skyblue;
}

/* Global Styles */
body {
    display:flex;
    flex-direction: row;
    overflow-x: hidden;
    background: var(--bg-color-1);
    font-family: Silom;
    align-items: start;
    min-height: initial;
}

/* Header */
header {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    max-height: 65px;
    top: 0;
    align-items:center;
    box-shadow: 0px 1px 10px var(--black-txt-clr);
    background: var(--bg-color-1);
    z-index: 5;
    & a {
        color: var(--primary-hover);
        transition: color 0.5s ease;
    }
    & a:hover {
        color: var(--secondary-txt-clr);
    }	
}

.user {
    display:flex;
    color: var(--primary-hover);
    letter-spacing: 1px;
    & p {
        margin-top: 0;
        margin-bottom:0;
    }
    & p:first-child {
        margin-right: 1rem;
    }
}
aside {
    position: sticky;
    top: 100px;
    width: 350px;
}

/* Main */
main {
    min-height: calc(100dvh - 65px);
    padding: 1rem;
    padding-top: 65px;
    color: var(--secondary-txt-clr);
    & h2 {
        border-bottom: 2px solid;
        color: var(--secondary-txt-clr);
        margin-bottom: 2rem;
    }
}
main .glass {
    background: color(srgb 0.1486 0.1331 0.375);
    border-radius: 16px;
    box-shadow: 0 0 10px var(--black-txt-clr);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(22, 18, 70, 1);
}

/* Logo */
.logo {
    color: var(--secondary-txt-clr);
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.logo-pic {
    z-index: 3;
}

.logo-pic img {
    height: max(4vh, 36px);
    filter: drop-shadow(0 0.2rem 0.2rem #00000075);
}

.logo-pic:hover {
    filter: brightness(50%) sepia(100) saturate(100) hue-rotate(25deg) drop-shadow(0 0.2rem 0.2rem #00000075);
}

.logo a {
    font-size: clamp(1.5rem, 2vw, 3rem);
    text-align: center;
    font-weight: 900;
    text-shadow: 0 0 5px var(--black-txt-clr);
}

/* Navigation */
#top-nav {
    padding: 0;
}

#top-nav a {
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 2vw;
    font-family: silom;
    font-weight: 900;
    text-shadow: 0 0 5px var(--black-txt-clr);
}

#slide-nav {
    font-family: silom;
    width: 100%;
    color: var(--primary-txt-clr);
    background-color: var(--bg-color-1);
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    height: calc(100dvh - 65px);
    position: fixed;
    top: 65px;
    left: 0;
    padding: 2rem 0;
    transform: translateY(-150%);
    transition: 0.5s;
    z-index: 2
}

#slide-nav a {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    padding: 1rem 0;
}

.side-nav .sub-menu.show, #slide-nav .sub-menu.show {
    grid-template-rows: 1fr!important;
}

.side-nav li, #slide-nav li {
    list-style: none;
    line-height: inherit;
    cursor: pointer;
    margin-bottom:0;
    & a {
        border-bottom: 1px solid var(--primary-txt-clr);
    }
    & ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: 0 0 0 0 0 0 0 0 0;
        transition: all 0.3s ease;
        overflow: hidden;
        & h4 {
          margin-left: 1rem;  
        }
    }
}

.rotate i:not(:last-child) {
    transform: rotate(180deg);
}

#slide-nav h4 {
    margin: 0;
}

.slide-header {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & h3 {
        font-size: 2rem;
        margin:0;
        text-transform: uppercase;
    }
    & h4 {
        font-size: 1.5rem;
        text-align: center;
    }
}

.slide-footer {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.slide-footer a {
    margin: 0;
    display: flex!important;
    justify-content: center;
    width: 50px;
    font-size:2rem!important;
}

.isShown {
    opacity:1!important;
    transform: translateY(0%)!important;
}

.modal-body {
    background: var(--bg-color-1);
    & form {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
.modal-delete {
    width: auto;
    margin: auto;
    background: none;
    color: red;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px red;
    font-family: inherit;
    font-size: 1rem;
    border: 2px solid red;
}
h3 {
    padding: 0.5rem;
}
#response {
    background: lawngreen;
    margin: 1rem;
    color: var(--black-txt-clr);
}
.modal-footer {
    grid-column: 1 / span 2;
    background: none;
    border: none;
    justify-content: space-evenly;
}
/* Burger Menu */
.burger {
    z-index: 5;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: lightskyblue;
    margin: 7px auto;
    border-radius: 15px;
    transition: all 0.3s ease;
    z-index: 5;
}

.show-burger .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}

.show-burger .line2 {
    opacity: 0;
}

.show-burger .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

/* Utility Classes */
.d-flex {
    display: flex;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.flex-column {
    flex-direction: column;
}

.blur {
    filter: blur(8px);
}

/* Forms */

.wrapper {
    width:100%;
    column-gap:1rem;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    & h4 {
        margin-bottom: 0.5rem;
    }
    & hr {
        margin:0;
    }
}

#comp-delete-modal form {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--secondary-txt-clr);
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    row-gap: 1rem;
    & h2 {
        border-bottom: 2px solid;
        color:var(--secondary-txt-clr);
    }
    & label {
        color:var(--secondary-txt-clr);
        text-align: right;
        padding: 0;
        margin: 0 1rem 0 0;
        border-top-left-radius: 5px;
    }
    & form input,
    form select {
        border-radius: 0 !important;
    }
}
.division {
    display: none;
}
.division:checked + label{
    background: orange;
    color: var(--secondary-txt-clr);
    border-radius: 5px;
    padding: 2px 8px;
    transition: background 0.2s;
}


/* Side Navigation */
.side-nav a {
        display: flex;
        gap:2rem;
        align-items: center;
        margin: 0 1rem;
    }

/* Card Styles */

.card {
    align-items: center;
    margin: 0;
    box-shadow: none;
    text-align: center;
    justify-content: space-around;
    background: var(--bg-color-1);
}

.card p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    flex-grow: 1;
}

.cards-container {
    width: 100%;
    margin-top:4rem;
    margin-bottom: 2rem;
    margin-inline: auto;
}

.cards-container:first-child {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* Buttons */
.side-button {
    padding: 0 1rem;
    text-align: center;
    cursor: pointer;
    margin-right: 1rem;
    & h4 {
        flex-grow:1;
        text-align: left;
    }
}

.side-button:hover {
    color: skyblue;
}

.side-button:not(:last-child) {
    border-bottom: 1px solid var(--primary-txt-clr);
}

main ul {
    position: relative;
    min-height: 36px;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: center;
    border-bottom: 1px solid;
    color: skyblue;
    margin: 0;
    counter-increment: my-awesome-counter;
    & button {
        margin: 0.5rem;
        padding: 0.5rem;
        background: red;
    }
    & button:hover {
        background: rgb(179, 2, 2);
        box-shadow: 0 0 5px rgb(179, 2, 2);
    }
}

ul:last-child {
    border:none;
}

.heat {
    counter-increment: my-awesome-counter;
    position: relative;
    border-right: 1px solid var(--secondary-txt-clr);
    padding-right: 1rem;
    & h4{
        text-align: center;
    }
}

.heat::before {
    content: "" counter(my-awesome-counter);
    position: absolute;
    color: var(--black-txt-clr);
    left: 0;
    bottom:0;
    background: skyblue;
    padding: 0.2rem 0.5rem;
}

.legend {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: center;
    color: var(--secondary-txt-clr);
    & h4 {
        margin: 0 1rem;
        padding: 0.2rem;
    }
    & h4:nth-child(2) {
        background-color: red;
    }
    & h4:nth-child(5) {
        background-color: skyblue;
        color: var(--black-txt-clr);
    }
    & h4:nth-child(3) {
        background-color: yellowgreen;
        color: var(--black-txt-clr);
    }
    & h4:nth-child(4) {
        background-color: blueviolet;
    }
}

#participants-list ul::before  {
    content: "" counter(my-awesome-counter);
    position: absolute;
    color: var(--black-txt-clr);
    left: 0;
    background: skyblue;
    padding: 0.2rem 0.5rem;
}
.finished {
    color:red;
}
.pending {
    color:skyblue;
}
.scheduled {
    color:blueviolet;
}
.running {
    color:greenyellow;
}

#participants-list {
    margin:auto;
    & form {
        display: flex;
        padding: 0;
        padding-bottom: 0.5rem;
        gap:0.2rem;
        border-bottom: 1px solid;
        margin: 0.5rem 0;
        align-items: center;
        & input, select {
            height: 36px;
        }
        & button {
            margin:0;
        }
    }
}
#form-container button, .btn-primary {
    background: none;
    box-shadow: 0 0 10px;
    font-family: inherit;
    font-size: 1rem;
    border: 2px solid;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 0.6em 1.2em;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}
#form-container button:hover, .btn-primary:hover {
    background: none;
    box-shadow: 0 0 15px;
    font-family: inherit;
    font-size: 1rem;
    border: 2px solid;
    transform: translateY(-2px);
    transition: all 0.3s ease;
    color: var(--primary-hover);
    text-shadow: 0 0 5px var(--black-txt-clr);
    background-image: linear-gradient(var(--black-txt-clr), rgba(192, 192, 192, 0.5), var(--var), rgba(192, 192, 192, 0.5), var(--black-txt-clr));
}

.modal-delete:hover {
    background:red;
    border:2px solid var(--secondary-txt-clr);
    color:var(--secondary-txt-clr);
    transition: all 0.5s;
    background: none;
    transform: translateY(-2px);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgb(255, 0, 98);
    font-family: inherit;
    font-size: 1rem;
}
.modal-generate {
    background: none;
    color: lawngreen;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px;
    font-family: inherit;
    font-size: 1rem;
    border: 2px solid;
}
.modal-generate:hover {
    background:lawngreen;
    border:2px solid var(--secondary-txt-clr);
    color:var(--black-txt-clr);
    transform: translateY(-2px);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px lawngreen;
    font-family: inherit;
    font-size: 1rem;
}
.modal-submit {
    background: none;
    width: auto;
    box-shadow: 0 0 10px;
    font-family: inherit;
    font-size: 1rem;
    border: 2px solid;
    margin: auto;
}
.modal-submit:hover {
    background:var(--secondary-txt-clr);
    border:2px solid var(--black-txt-clr);
    color:var(--black-txt-clr);
    transition: all 0.5s;
}
.close {
    background: none;
    font-size: 1rem;
    margin: auto;
    border: 2px solid skyblue;
    box-shadow: 0 0 10px skyblue;
    color: skyblue;
    font-family:inherit;
}
.close:hover {
    background:skyblue;
    transform: translateY(-2px);
    transition: all 0.3s ease;
    border:2px solid var(--secondary-txt-clr);
    color:var(--black-txt-clr);
    transition: all 0.5s;
}

.radio_score button {
    font-size: 2rem!important;
}

.heat_info {
    display: grid;
    grid-template-columns: 1fr!important;
    color: var(--secondary-txt-clr);
    position: relative;
    padding: 0.5rem;
    margin: -1rem 0 0 0;
    text-align: center;
    text-shadow: 0 0 5px var(--black-txt-clr);
    & div {
        align-content: center;
    }
    & h2 {
        margin: auto 2rem;
    }
}

.time_clock {
    position: absolute;
    right: 50px;
    top: calc(50% - 10px);
    margin: 0;
    & h4 {
        margin:0;
    }
}
#countdown {
    display: inline-block;
    color: greenyellow;
    transition: color 0.3s ease;
}

.wave_numbers {
    display: flex;
    justify-content: space-around;
    color: var(--secondary-txt-clr);
}

/* Radio judging buttons */

.radio {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    & label:not(:nth-child(2)) {
        color: var(--secondary-txt-clr);
    }
}
.radio_input {
    display:none;
}
.score_input {
    display:none;
}
.radio_label {
    min-height: 75px;
    min-width: -webkit-fill-available;
    box-sizing: border-box;
    text-align:center;
    align-content: center;
    padding: 1rem 1rem;
    margin:auto;
    background:var(--var);
    box-shadow:0 0 5px var(--var);
    font-size:1.5rem;
    font-family: inherit;
    font-weight: 900;
    cursor:pointer;
    border-radius:15px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
    text-shadow: 0 0 2px var(--black-txt-clr);
    transition: all 0.5s;
    opacity: 0.5;
}

.radio_score {
    color:var(--black-txt-clr);
    display:grid;
    grid-template-columns:repeat( auto-fit, minmax(75px, 1fr) );
    gap:1rem;
    text-align:center;
    align-content: center;
    padding: 0.2rem 0.2rem;
    font-size:1.5rem;
    font-weight: 900;
    transition: all 0.5s;
}
.radio_label:nth-child(2) {
    color:var(--black-txt-clr);
}
.radio_input:checked + .radio_label {
    transform:scale(1.1);
    border: 5px solid;
    box-shadow:0 0 12px var(--var);
    opacity: 1;
}
.radio_score label {
    text-align: center;
    align-content: center;
    margin: 0;
    padding:1.5rem 0;
    background:var(--secondary-txt-clr);
    border-radius: 5px;
    border: 1px solid var(--black-txt-clr);
    box-shadow:0 0 10px var(--secondary-txt-clr);
}
.score_label {
    color: var(--black-txt-clr);
    opacity: 0.5;
}
.score_input:checked + .score_label {
    transform: scale(1.1);
    box-shadow: 0 0 26px var(--secondary-txt-clr);

    border:2px solid;
    text-shadow: 0 0 2px;
    transition: all 1s;
    opacity: 1;
}
.submit_button {
    margin: 0;
    padding: 1rem;
    font-weight: 900;
    grid-column: span 3;
    background: var(--black-txt-clr);
}

.heat-length {
    margin: auto;
    & button {
        height: 30px;
        padding: 0!important;
    }
}

section {
    border-bottom: 2px solid var(--secondary-txt-clr);
    align-content: center;
    padding-bottom: 0.5rem;
    & div {
        justify-content: center;
    }
    & form {
        display: flex;
        align-content: center;
        align-items: center;
    }
    & button {
        margin: auto;
        width: 100%;
        padding: 0.3rem 1rem;
    }
}

.heat-length form {
    & input, select {
        height: 30px;
    }
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: 150px 90px 70px;
    gap: 1rem;
}
.heat-length form > input {
        height: 30px;
}

/* Responsive Design */
@media only screen and (max-width: 855px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }
    main {
        padding: 1em 0;
        width: 90dvw;
        max-width: 640px;
        margin: 65px auto 0;
    }
    .side-nav {
        display: none;
    }

    form {
        grid-template-columns: 1fr;
        color: var(--secondary-txt-clr);
    }

    .wave_numbers {
        display: none;
    }

    table {
        margin: auto auto;
        text-align: center;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 8fr;
        & tbody {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            gap:1rem;
        }
        & tr {
            display: grid;
        }
    }
    .edit-scores-table {
        & table {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            margin: auto;
        }
        & tbody {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
        & thead {
            display: none;
        }
        & .d-sm-none {
            display: none;
        }
    }

    .time_clock{
        padding: 0.5rem 1rem;
        position: absolute;
        box-shadow: 0 0 2px;
        top: 0;
    }
}

@media only screen and (min-width: 854px) {

    #form-container {
        padding: 2rem;
        padding-bottom: 0;
        margin: 2rem;
        & h2 {
            border-bottom: 3px solid;
            color: var(--secondary-txt-clr);
            text-align: right;
            margin-bottom: 2rem;
        }
    }
    table {
        margin: auto auto;
        width: auto;
        & tbody {
            background: var(--secondary-txt-clr);
            color: color(srgb 0.1129 0.1038 0.2871);
        }
        & th {
            border: 1px var(--primary-darker) solid;
            background: var(--bg-color-1);
        }
    }
    .edit-scores-table {
        & span {
            display: none;
        }
    }
    .selector {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 350px;
        & label {
            margin: auto 0;
            color: var(--secondary-txt-clr);
            font-weight:900;
        }
    }
    h2 {
        color:var(--secondary-txt-clr);
        margin-bottom: 2rem;
        border-bottom: 3px solid;
    }
    #participantsTable {
        & button {
            margin: auto;
            text-align: center;
            background: red;
            padding: 0.5rem 1rem;
        }
    }
    .d-sm {
        display: none;
    }
    #slide-nav {
        display: none;
    }
}
